.contenedorSign {
    background-image: url("../../img/fondosignup.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.contenedorSign .row {
    position: absolute;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
    max-width: 800px; /* Ajuste para tamaños más grandes */
    height: auto;
    background-color: #39DEB3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedorSign h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.contenedorSign label::before {
    content: "(*)";
    color: rgba(255, 0, 0, 0.8);
    font-weight: bolder;
}

.contenedorSign input {
    border: none;
    border-radius: 0%;
    background-color: #90ECD3;
    padding: 10px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .contenedorSign .row {
        width: 95%;
    }

    .contenedorSign h1 {
        font-size: 40px;
    }

    .contenedorSign .form-control {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .contenedorSign h1 {
        font-size: 36px;
    }

    .contenedorSign .form-control {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .contenedorSign h1 {
        font-size: 30px;
    }

    .contenedorSign .form-control {
        font-size: 15px;
    }

    .contenedorSign .row {
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .contenedorSign h1 {
        font-size: 25px;
    }

    .contenedorSign .row {
        padding: 10px;
    }

    .contenedorSign .form-control {
        font-size: 14px;
    }
}
